<div class="card">
  <div class="card-header">
    <button
      class="btn btn-secondary"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseMembers"
    >
      Dependents
      <span class="badge bg-primary">{{ employee.members.length }}</span>
    </button>
    <button
      class="m-1 btn btn-secondary"
      *ngIf="!isCollapsed"
      (click)="addDependent()" [disabled]="scheduelCOnfirmed"
    >
      Add Dependent
    </button>
  </div>
  <div class="card-body" [collapse]="isCollapsed" id="collapseMembers">
    <div class="card-header" *ngIf="employee.members.length > 0">
      <div class="row">
        <div class="col-2">
          <div class="p-0 m-1">
            <label>Relation</label>
          </div>
        </div>
        <div class="col-2">
          <div class="p-0 m-1">
            <label>Name</label>
          </div>
        </div>
        <div class="col-1">
          <div class="p-0 m-1">
            <label>Vaccine</label>
          </div>
        </div>
        <div class="col-2">
          <div class="p-0 m-1">
            <label>Dose</label>
          </div>
        </div>
        <div class="col-2">
          <div class="p-0 m-1">
            <label>Day</label>
          </div>
        </div>
        <div class="col-2">
          <div class="p-0 m-1">
            <label>Session</label>
          </div>
        </div>
        <div class="col-1">
          <div class="p-0 m-1">
            <label>Actions</label>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let member of employee.members; let i = index">
      <div class="row g-1">
        <div class="col-2">
          <div class="p-0 m-1 border bg-light">
            <span
              >{{ member.relationType}}
            </span>
          </div>
        </div>
        <div class="col-2">
          <div class="p-0 m-1 border bg-light">
            <span
              >{{ member.name}} <span title="age">({{ member.age}})</span>
            </span>
          </div>
        </div>
        <div class="col-1">
          <div class="p-0 m-1 border bg-light">
            <span>{{ member.vxnType}}</span>
          </div>
        </div>
        <div class="col-2">
          <div class="p-0 m-1 border bg-light">
            <span>{{ member.dose}}</span>
            <span class="p-0 m-1" *ngIf="member.dose === 'Dose 2'">({{ member.dose2Before | date: shortDate}})</span>
          </div>
        </div>
        <div class="col-2">
          <div class="p-0 m-1 border bg-light">
            <span>{{ member.day}}</span>
          </div>
        </div>
        <div class="col-2">
          <div class="p-0 m-1 border bg-light">
            <span>{{ member.slot}}</span>
          </div>
        </div>
        <div class="col-1">
          <div class="p-0 m-1 border bg-light">
            <span class="p-1 m-1" (click)="editDependent($event, i)">
              <fa-icon [icon]="faEdit"></fa-icon>
            </span>
            <span class="p-1 m-1" (click)="deleteDependent($event, i)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    <button class="float-right"
      class="btn btn-secondary" (click)="submitForScheduling()" [disabled]="scheduelCOnfirmed"
    >
      Submit for Scheduling
    </button>
  </div>
</div>