<div class="card">
  <div class="card-header">
    <button
      class="btn btn-secondary"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseMembers"
    >
      Dependents
      <span class="badge bg-primary">{{ members?.length }}</span>
    </button>
    <button
      class="m-1 btn btn-secondary"
      *ngIf="!isCollapsed"
      (click)="addDependent()"
    >
      Add Dependent
    </button>
  </div>
  <div class="card-body" [collapse]="isCollapsed" id="collapseMembers">
    <div class="card-header" *ngIf="members?.length > 0">
      <div class="row">
        <div class="col-3">
          <div class="p-0 m-1">
            <label>Name</label>
          </div>
        </div>
        <div class="col-2">
          <div class="p-0 m-1">
            <label>City</label>
          </div>
        </div>
        <div class="col-1">
          <div class="p-0 m-1">
            <label>Vaccine</label>
          </div>
        </div>
        <div class="col-1">
          <div class="p-0 m-1">
            <label>Dose</label>
          </div>
        </div>
        <div class="col-2">
          <div class="p-0 m-1">
            <label>Preference</label>
          </div>
        </div>
        <div class="col-2">
          <div class="p-0 m-1">
            <label>Group</label>
          </div>
        </div>
        <div class="col-1">
          <div class="p-0 m-1">
            <label>Delete</label>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let member of members; let i = index">
      <div class="row g-1" (click)="editDependent($event, i)">
        <div class="col-3">
          <div class="p-0 m-1 border bg-light">
            <span
              >{{ member.name}} <span title="age">({{ member.age}})</span></span>
          </div>
        </div>
        <div class="col-2">
          <div class="p-0 m-1 border bg-light">
            <span>{{ member.location}}</span>
          </div>
        </div>
        <div class="col-1">
          <div class="p-0 m-1 border bg-light">
            <span>{{ member.vxnType}}</span>
          </div>
        </div>
        <div class="col-1">
          <div class="p-0 m-1 border bg-light">
            <span>{{ member.dose}}</span>
          </div>
        </div>
        <div class="col-2">
          <div class="p-0 m-1 border bg-light">
            <span>{{ member.locationType}}</span>
          </div>
        </div>
        <div class="col-2">
          <div class="p-0 m-1 border bg-light">
            <span>{{ member.group}}</span>
          </div>
        </div>
        <div class="col-1">
          <div class="p-0 m-1 border bg-light">
            <span (click)="deleteDependent($event, i)">
              <fa-icon [icon]="faTrash"></fa-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div></div>