<div class="card">
  <div class="card-header">
    <Strong>Employee Profile</Strong>
  </div>
  <div class="card-body" [collapse]="isCollapsed" id="collapseProfile">
    <div class="row g-1">
      <div class="col-4">
        <div class="p-1 border bg-light">
          <label>Employee ID:</label>
          <span>{{ employee.empId}}</span>
        </div>
      </div>
      <div class="col-4">
        <div class="p-1 border bg-light">
          <label>Name:</label>
          <span>{{ employee.name}}</span>
        </div>
      </div>
      <div class="col-4">
        <div class="p-1 border bg-light">
          <label>Email:</label>
          <span>{{ employee.email}}</span>
        </div>
      </div>
      <!--div class="col-3">
        <div class="p-1 border bg-light">
          <label>City:</label>
          <span>{{ employee.location}}</span>
        </div>
      </div>
      <div class="col-3">
        <div class="p-1 border bg-light">
          <label>Vaccine</label>
          <span>{{ employee.vxnType}}</span>
        </div>
      </div>
      <div class="col-3">
        <div class="p-1 border bg-light">
          <label>Location:</label>
          <span>{{ employee.locationType}}</span>
        </div>
      </div>
      <div class="col-6">
        <div class="p-1 border bg-light">
          <label>Group:</label>
          <span>{{ employee.group}}</span>
        </div>
      </div-->
    </div>
  </div>
</div>
<div>
  <app-profile-members [employee]="employee"></app-profile-members>
</div>