<div class="modal-header">
  <h4 class="modal-title pull-left">
    <span *ngIf="mode === 'add'">Add</span>
    <span *ngIf="mode === 'edit'">Edit</span>
    Dependent
  </h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    X
  </button>
</div>
<form [formGroup]="dependentForm" (ngSubmit)="onDependentSubmit()">
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <div class="row g-1">
          <div class="col-4">
            <div class="p-0 m-1 border bg-light">
              <label>Relation Type:</label>
              <select
                id="relationTypeId"
                formControlName="relationType"
                (change)="onRelationTypeChange($event)"
              >
                <option value="Select">Select</option>
                <option [value]="relType" *ngFor="let relType of relationTypes"
                  >{{ relType }}</option
                >
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="p-0 m-1 border bg-light">
              <label>Name:</label>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                required
              />
              <div *ngIf="name?.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors?.required">
                  Name is required.
                </div>
                <div *ngIf="name.errors?.minlength">
                  Name must be at least 4 characters long.
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="p-0 m-1 border bg-light">
              <label>Age:</label>
              <input
                type="text"
                class="form-control"
                formControlName="age"
                required
              />
            </div>
          </div>
        </div>
        <div class="row g-1">
          <div class="col-3">
            <div class="p-0 m-1 border bg-light">
              <label>Vaccine Preference</label>
              <select
                id="vxPrefId"
                formControlName="vxnType"
                (change)="onVaccinePreferenceChange($event)"
              >
                <option value="Select">Select</option>
                <option [value]="vxPref" *ngFor="let vxPref of vxnPrefs"
                  >{{ vxPref }}</option
                >
              </select>
            </div>
          </div>
          <div class="col-2">
            <div class="p-0 m-1 border bg-light">
              <label>Dose:</label>
              <select
                id="doseId"
                formControlName="dose"
                (change)="onDoseChange($event)"
              >
                <option value="Select">Select</option>
                <option [value]="dose" *ngFor="let dose of doses"
                  >{{ dose }}</option
                >
              </select>
            </div>
          </div>
          <div class="col-7">
            <div class="p-0 m-1 border bg-light">
              <label>Day<span *ngIf="enableSlots"> and Select Slot</span>:</label>
              <select id="dayId" formControlName="day" (change)="onDayChange($event)">
                <option value="Select">Select</option>
                <option [value]="day" *ngFor="let day of days"
                  >{{ day }}</option
                >
              </select>
              <!--span class="p-1" *ngIf="enableSlots">Select Slot</span-->
              <select id="slotId" class="p-0 m-2" formControlName="slot" *ngIf="enableSlots" (change)="onSlotChange($event)">>
                <option value="Select">Select</option>
                <option [value]="slot" *ngFor="let slot of slots"
                  >{{ slot }}</option
                >
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-secondary">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">
      Close
    </button>
  </div>
</form>